<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>写博客</title>
    <div th:replace="commonality/public::bootstrap"></div>
    <link rel="stylesheet" th:href="@{css/blog.css}"/>
</head>
<body>
<div th:replace="commonality/public::index">
</div>
<div class="container-fluid">
    <div class="row blog">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 panel panel-default" style="">
            <div class="panel-heading">
                <span style="font-size: 20px"><img src="material/write.png">写博客</span>
            </div>
            <div class="panel-body">
                <form action="/write" method="post">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="请输入文章标题" name="title" th:value="${title}">
                        </br>
                        <textarea class="form-control" rows="50" name="content" th:text="${content}"></textarea>
                        </br>
                        <input type="text" class="form-control" placeholder="请输入标签，以逗号分隔,最多五个标签" name="label"
                               th:value="${label}">
                        </br>
                        <input type="submit" class="btn btn-success" value="发布文章" style="float: right">
                    </div>
                </form>
                <div class="alert alert-danger" role="alert" th:if="${session.write_msg!=null}">
                    [[${session.write_msg}]]
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12" style="">
            <span style="font-size: 30px;color: #062c33">注意事项</span></br>
            <hr>
            <span>*本次属于测试</span></br>
            <span>*部分功能未添加</span>
        </div>
    </div>
</div>
</body>
</html>