<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>[[${user.name}]]的博客[CCL博客]</title>
    <div th:replace="commonality/public::bootstrap"></div>
    <link rel="stylesheet" href="css/blog.css" th:href="@{/css/blog.css}">
</head>
<body>
<div th:replace="commonality/public::index"></div>
<div class="container-fluid">
    <div class="row blog">
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12" style="">
            <div class="jumbotron">
                <div class="profile-intro d-flex">
                    <div class="media">
                        <div class="media-left">
                            <a href="#" th:href="@{'/user/'+${session.user_id}}">
                                <img class="media-object" src="material/girl.png" th:if="${user.gender == '0'}"
                                     th:attr="src=@{/material/girl.png}">
                                <img class="media-object" src="material/girl.png" th:if="${user.gender == '1'}"
                                     th:attr="src=@{/material/boy.png}">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading"><a href="#" th:text="${user.name}">姓名</a></h4>
                            <span>博客等级</span>
                        </div>
                        <hr>
                        <div>
                            <li class="user-font" style="font-size: 25px"><a href="#">原创 </a> <span
                                    class="label label-default">??</span></li>
                            <li class="user-font" style="font-size: 25px">粉丝 <span class="label label-default">??</span>
                            </li>
                            <li class="user-font" style="font-size: 25px">喜欢 <span class="label label-default">??</span>
                            </li>
                            <li class="user-font" style="font-size: 25px">评论 <span class="label label-default">??</span>
                            </li>
                            <hr>
                            <li class="user-font" style="font-size: 25px">等级 <span class="label label-default">??</span>
                            </li>
                            <li class="user-font" style="font-size: 25px">访问 <span class="label label-default">??</span>
                            </li>
                            <li class="user-font" style="font-size: 25px">积分 <span class="label label-default">??</span>
                            </li>
                            <li class="user-font" style="font-size: 25px">排名 <span class="label label-default">??</span>
                            </li>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 panel panel-default" style="">
            <div class="blog-content-box">
                <div class="image-character">
                    <img src="material/original.png" th:src="@{/material/original.png}">
                    <span th:text="${blog.title}" style="font-size: 30px"></span>
                </div>
                <span th:text="${#dates.format(blog.time,'yyyy-MM-dd HH:mm')} + '&nbsp;&nbsp;'"
                      class="user-font"></span>
                <span><a th:text="${user.name}+'&nbsp;&nbsp;'"></a></span>
                <span class="user-font">阅读数[[${blog.browse}]]&nbsp;&nbsp;</span>
                <span class="user-font">点赞数[[${blog.like}]]&nbsp;&nbsp;</span>
                <span class="user-font">文章标签:[[${blog.title}]]</span>
                <hr>
                <div th:text="${blog.blogContent}"></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
</body>
</html>