.blog {
    margin: 30px;
}

.blog-content {
    margin-bottom: 4px;
    color: #8a8a8a;
    font-size: 19px;
    line-height: 24px;
}

.interval {
    float: left;
    width: 1px;
    height: 12px;
    border-radius: 50%;
    background-color: #e0e0e0;
    margin-top: 6px;
    margin-left: 8px;
    margin-right: 8px;
}

.interactive {
    line-height: 24px;
}

.floatR {
    float: right;
}

.floatF {
    float: left;
}

.online {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.summary {
    margin-bottom: 4px;
    color: #8a8a8a;
    font-size: 14px;
    line-height: 24px;
}

.profile-intro {
    padding: 16px 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #e3e3e3;
}

.d-flex {
    display: flex !important;
}

.flex-column {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    flex-direction: column !important;
}

.user-info {
    margin-left: 8px;
    width: 156px;
    height: 53px;
    position: relative;
}

.user-font {
    color: #8a8a8a;
}

.user-blog {
    color: #8a8a8a;
    font-size: 20px;
}

.point {
    background-color: #e0e0e0;
    width: 1px;
    height: 12px;
    margin-top: 4px;
    margin-left: 8px;
    margin-right: 8px;
}

.blog-content-box {
    position: relative;
    padding: 0 24px 16px;
    background: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
}

.image-character {
    vertical-align: middle;
}

.article-bar__input-box {
    width: 85%;
    margin: 8px 18px;
    border: 6px solid #ccc;
    border-radius:22px;
    background-color: #fff;
}

.article_bar {
    height: 100%;
}

.flex {
    display: flex;
}

.title {
    width: 100%;
}

.blog_button {
}

.layout__panel {
    position: relative;
    flex: none;
}

.article_bar {
    background-color: #faded3;
}

.layout__panel--articletitle-bar {
    background-color: #f3f3f3;
}

.btn-publish {
    width: 100px;
    height: 50px;
    margin: 5px 0px;
    padding: 0 16px;
    font-size: 16px;
    color: #fff;
    border: none;
    border-radius: 4px;
    white-space: nowrap;
    background-color: #ca0c16;
}

.comment_text {
    margin-bottom: 10px;
    margin-top: 10px;
}

.font_size {
    font-size: 40px;
}

.view-container {
    margin-left: 200px;
    background-color: #fff;
    min-height: 95%;
    padding: 0 32px 30px;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05);
}

.media-body {
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 10px;
}

.media-body h3 a {
    text-decoration: none;
    display: block;
    color: #171a1d;
}

.media-body h3 a:hover {
    color: red;
}

.list_userbar {
    float: left;
    margin: 0 6px 0 0;
}

.floatF #user-a {
    text-decoration: none;
}

.floatF #user-a :hover {
    color: #0000cc;
}

.floatR a {
    text-decoration: none;
}

.floatF a {
    text-decoration: none;
}

.li_a_style {
    font-size: 25px;
}

.li_a_style li {
    list-style: none;
}

body {
    background-image: url("/material/background.gif");
}

.index_user div .feed_new_tit .line {
    display: block;
    float: left;
    width: 3px;
    background: #cf2730;
    overflow: hidden;
    margin-right: 5px;
}

.index_user div .feed_new_tit .text {
    color: #2c3033;
}

.aside-box {
    margin-bottom: 8px;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
}

aside .aside-box .d-flex {
    margin: 10px;
}

aside .aside-box .d-flex a img {
    width: 48px;
    height: 48px;
}

.profile-personal-letter {
    color: #f5a523;
    font-size: 12px;
    width: 48px !important;
    height: 24px;
    border-radius: 4px;
    line-height: 24px;
    text-align: center;
    position: relative;
    left: -8px;
}

.profile-personal-letter #profile-personal-alink {
    text-decoration: none;
    width: 48px;
    height: 24px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #f5a623;
    display: inline-block;
    color: #f5a623 !important;
}

aside #asideProfile .profile-intro .opt-box {
    width: 48px;
    height: 24px;
}

.flex-column {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    flex-direction: column !important;
}

aside #asideProfile .profile-intro .opt-box a.btn {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    width: 48px;
    height: 24px;
    min-width: auto;
    font-size: 12px;
}

.btn.btn-sm {
    margin-top: -2px;
    margin-bottom: 0px;
    height: 24px;
    line-height: 15px;
    min-width: 48px;
}

.btn-red-hollow {
    color: #ca0c16 !important;
    border: 1px solid #ca0c16 !important;
    background-color: #fff !important;
    transition: background-color .1s ease-in-out;
}

aside #asideProfile .data-info {
    padding: 16px 10px;
    border-bottom: 1px solid #e3e3e3;
}

.d-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}

.aside-box dl {
    float: left;
    margin: 30px 24px;
}

.aside-box dl dt a {
    text-decoration: none;
}

aside #asideProfile .grade-box dl {
    margin-top: 8px;
    float: left;
    width: 50%;
}
