<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CCL-专业IT技术社区（--）</title>
    <link rel="stylesheet" href="css/blog.css" th:href="@{/css/blog.css}">
    <div th:replace="commonality/public::bootstrap"></div>
</head>
<body>
<div th:replace="commonality/public::index"></div>
<div class="container-fluid" style="width: 80%">
    <div class="row blog">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 panel panel-default"
             style="box-shadow: 3px 5px 15px 3px #8F938F;">
            <div class="panel-heading">
                <span style="font-size: 20px" class="glyphicon glyphicon-list">博客列表</span>
            </div>
            <div class="media list-group" th:each="blog : ${page.blogs}">
                <div class="user-border">
                    <div class="media-body">
                        <a class="glyphicon glyphicon-remove floatR" style="text-decoration: none;color: #8a8a8a"></a>
                        <h3 class="media-heading">
                            <a href="/#" th:href="@{'/look/'+${blog.id}}" th:text="${blog.title}">博客标题</a>
                        </h3>
                        <div class="summary" th:text="${blog.blogContent}"></div>
                        <!--阅读数，评论数，创建时间-->
                        <div class="floatF" style="display: inline-flex">
                            <a href="#" th:href="@{'/user/'+${blog.userId}}">
                                <img class="media-object" src="material/girl.png" th:if="${blog.user.gender == '0'}"
                                     th:attr="src=@{/material/girl.png}">
                                <img class="media-object" src="material/girl.png" th:if="${blog.user.gender == '1'}"
                                     th:attr="src=@{/material/boy.png}">
                            </a>
                            <a href="#" id="user-a" style="margin: auto">
                                <span th:text="${blog.user.name}" class="user-font"></span>
                            </a>
                        </div>
                        <div class="floatR">
                                <span th:text="${#dates.format(blog.time,'yyyy-MM-dd HH:mm')}"
                                      style="color: #8a8a8a"></span>
                            <div class="interval"></div>
                            <a href="#" style="text-decoration: none">
                                <span>阅读数</span>
                                <span class="" th:text="${blog.browse}"></span>
                            </a>
                            <a href="#" style="text-decoration: none">
                                <span class="">点赞</span>
                                <span class="" th:text="${blog.like}"></span>
                            </a>
                            <a href="#" style="text-decoration: none">
                                <span class="">评论数</span>
                                <span class="">???</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <nav aria-label="Page navigation" class="floatR" th:if="${page.page!=0}">
                <ul class="pagination pagination-lg">
                    <li th:if="${!page.showFirstPage}">
                        <a href="/?page=1" aria-label="Previous">
                            <span aria-hidden="true">首页</span>
                        </a>
                    </li>
                    <li th:if="${!page.showLastPage}">
                        <a th:href="@{/(page=${page.page -1})}" aria-label="Previous">
                            <span aria-hidden="true">上一页</span>
                        </a>
                    </li>

                    <li th:each="pages : ${page.pages}" th:classappend="${page.page == pages} ? 'active':''"><a
                            th:href="@{/(page=${pages})}" th:text="${pages}"></a></li>

                    <li th:if="${!page.showNextPage}">
                        <a th:href="@{/(page=${page.page +1})}" aria-label="Previous">
                            <span aria-hidden="true">下一页</span>
                        </a>
                    </li>
                    <li th:if="${!page.showEndPage}">
                        <a th:href="@{/(page=${page.endPage})}" aria-label="Previous">
                            <span aria-hidden="true">尾页</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <aside class="index_user">
                <div class="well well-lg">
                    <h3 class="feed_new_tit">
                        <span class="line" style="color: red">|</span>
                        <span class="text">今日推荐</span>
                    </h3>
                </div>
                <div class="well well-lg">
                    <h3 class="feed_new_tit">
                        <span class="line">|</span>
                        <span class="text">活跃用户</span>
                    </h3>
                </div>
            </aside>
        </div>
    </div>
</div>
</body>
</html>

