<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>公共页面</title>
</head>
<body>
<div th:fragment="user">
    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12" style="box-shadow: 0px 0px 6px 1px #00a8c6;">
        <aside>
            <div class="aside-box">
                <div class="profile-intro d-flex">
                    <div>
                        <a href="#" th:href="@{'/user/'+${session.user_id}}">
                            <img class="media-object" src="material/girl.png" th:if="${user.gender == '0'}"
                                 th:attr="src=@{/material/girl.png}">
                            <img class="media-object" src="material/girl.png" th:if="${user.gender == '1'}"
                                 th:attr="src=@{/material/boy.png}">
                        </a>
                    </div>
                    <div style="margin-left: 10px">
                        <p>
                            <a href="#" th:text="${user.name}"
                               style="text-decoration: none;color: #3d3d3d;font-weight: 700;max-width: 150px;max-height: 66px;
                               overflow: hidden;word-wrap: break-word;"></a>
                        </p>
                        <p style="display:inline-block;float: left">
                            <a href="#" style="color: #8F938F;font-size: 15px;text-decoration: none">
                                是否VIP
                            </a>
                        </p>
                        <P style="display: inline-block;height: 242px;position: absolute;text-align: right;bottom: 4px">
                            <a href="#"
                               style="text-decoration: none;font-size: 12px;color: #3399ea;line-height: 17px;float: right;margin-left: 24px">
                                TA的个人主页 >
                            </a>
                        </P>
                    </div>
                    <div class="profile-personal-letter" style="margin-left: 31px">
                        <a id="profile-personal-alink" href="#">私信</a>
                    </div>
                    <div class="profile-personal-letter" style="">
                        <a class="btn btn-sm btn-red-hollow" style="margin-left: 10px">关注</a>
                    </div>
                </div>
            </div>
            <div class="aside-box" style="height: 80px">
                <div>
                    <dl title="512">
                        <dt>
                            <a>原创</a>
                        </dt>
                        <dd>
                            <span>100</span>
                        </dd>
                    </dl>
                    <dl title="512">
                        <dt>
                            <a>粉丝</a>
                        </dt>
                        <dd>
                            <span>100</span>
                        </dd>
                    </dl>
                    <dl title="512">
                        <dt>
                            <a>喜欢</a>
                        </dt>
                        <dd>
                            <span>100</span>
                        </dd>
                    </dl>
                    <dl title="512">
                        <dt>
                            <a>评论</a>
                        </dt>
                        <dd>
                            <span>100</span>
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="aside-box" style="height: 90px">
                <div>
                    <dl title="512">
                        <dt>
                            <a>等级</a>
                        </dt>
                        <dd>
                            <span>100</span>
                        </dd>
                    </dl>
                    <dl title="512">
                        <dt>
                            <a>访问</a>
                        </dt>
                        <dd>
                            <span>100</span>
                        </dd>
                    </dl>
                    <dl title="512">
                        <dt>
                            <a>积分</a>
                        </dt>
                        <dd>
                            <span>100</span>
                        </dd>
                    </dl>
                    <dl title="512">
                        <dt>
                            <a>排名</a>
                        </dt>
                        <dd>
                            <span>100</span>
                        </dd>
                    </dl>
                </div>
            </div>
        </aside>
    </div>
</div>
<div th:fragment="bootstrap">
    <script src="/webjars/jquery/3.1.1/jquery.min.js" th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
    <script src="/webjars/bootstrap/3.3.5/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/3.3.5/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.5/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"/>
</div>
<nav class="navbar navbar-default" th:fragment="index">
    <div class="container-fluid" style="box-shadow: 3px 5px 15px 3px #8F938F;">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">CCL博客</span>
            </button>
            <a class="navbar-brand" href="/">CCL博客
                <span class="glyphicon glyphicon-cloud"></span>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="查找问题...">
                    <button type="submit" class="btn btn-default" href="/login">查找</button>
                    <span th:if="${session.user!=null}" th:class="${session.user!=null}?'alert alert-success'">
                        欢迎
                        <span style="color: cadetblue;font-size: 20px">[[${session.user.name}]]</span>
                        登陆！！您是第
                        <span style="color: red">[[${session.user.id}]]</span>个用户
                        <span th:if="${session.user.id <10}" style="color: red">
                            <img src="vip/SVIP.png" th:src="@{/vip/SVIP.png}">创世用户</span>
                        <span th:if="${session.user.id > 10 && session.user.id < 100}" style="color: red">
                            <img src="vip/vip.png" th:src="@{/vip/vip.png}">（超级VIP！）</span>
                        <span th:if="${session.user.name=='李双燕'}" style="color: deeppink;font-size: 20px">我爱你!</span>
                    </span>
                </div>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li th:if="${session.user==null}"><a href="/login">登录</a></li>
                <li th:if="${session.user!=null}">
                    <a href="/write" style="color: #062c33;font-size: 20px"><img src="material/writeBlog.png"
                                                                                 th:src="@{/material/writeBlog.png}">写博客</a>
                </li>
                <li class="dropdown" th:if="${session.user!=null}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false" style="font-size: 20px">[[${session.user.name}]]<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/user" th:href="@{'/user/' + ${session.user.id}}">我的博客</a></li>
                        <li><a href="/userData">个人资料</a></li>
                        <li><a href="/quitLogin" id="quitLogin">退出登录</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>