<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ccl.blog.mapper.BlogMapper">
    <resultMap id="BaseResultMap" type="com.ccl.blog.entity.Blog">
        <!--@mbg.generated-->
        <id column="blog_id" jdbcType="INTEGER" property="id"/>
        <result column="blog_title" jdbcType="VARCHAR" property="title"/>
        <result column="blog_label" jdbcType="VARCHAR" property="label"/>
        <result column="blog_time" jdbcType="TIMESTAMP" property="time"/>
        <result column="blog_userId" jdbcType="BIGINT" property="userId"/>
        <result column="blog_browse" jdbcType="BIGINT" property="browse"/>
        <result column="blog_like" jdbcType="BIGINT" property="like"/>
        <result column="blog_content" jdbcType="LONGVARCHAR" property="blogContent"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        blog_id, blog_title, blog_label, blog_time, blog_userId, blog_browse, blog_like,
        blog_content
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from blog
        where blog_id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        <!--@mbg.generated-->
        delete from blog
        where blog_id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" keyColumn="blog_id" keyProperty="id" parameterType="com.ccl.blog.entity.Blog"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into blog (blog_title, blog_label, blog_time,
        blog_userId, blog_browse, blog_like,
        blog_content)
        values (#{title,jdbcType=VARCHAR}, #{label,jdbcType=VARCHAR}, #{time,jdbcType=TIMESTAMP},
        #{userId,jdbcType=BIGINT}, #{browse,jdbcType=BIGINT}, #{like,jdbcType=BIGINT},
        #{blogContent,jdbcType=LONGVARCHAR})
    </insert>
    <insert id="insertSelective" keyColumn="blog_id" keyProperty="id" parameterType="com.ccl.blog.entity.Blog"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into blog
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null">
                blog_title,
            </if>
            <if test="label != null">
                blog_label,
            </if>
            <if test="time != null">
                blog_time,
            </if>
            <if test="userId != null">
                blog_userId,
            </if>
            <if test="browse != null">
                blog_browse,
            </if>
            <if test="like != null">
                blog_like,
            </if>
            <if test="blogContent != null">
                blog_content,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="label != null">
                #{label,jdbcType=VARCHAR},
            </if>
            <if test="time != null">
                #{time,jdbcType=TIMESTAMP},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="browse != null">
                #{browse,jdbcType=BIGINT},
            </if>
            <if test="like != null">
                #{like,jdbcType=BIGINT},
            </if>
            <if test="blogContent != null">
                #{blogContent,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.ccl.blog.entity.Blog">
        <!--@mbg.generated-->
        update blog
        <set>
            <if test="title != null">
                blog_title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="label != null">
                blog_label = #{label,jdbcType=VARCHAR},
            </if>
            <if test="time != null">
                blog_time = #{time,jdbcType=TIMESTAMP},
            </if>
            <if test="userId != null">
                blog_userId = #{userId,jdbcType=BIGINT},
            </if>
            <if test="browse != null">
                blog_browse = #{browse,jdbcType=BIGINT},
            </if>
            <if test="like != null">
                blog_like = #{like,jdbcType=BIGINT},
            </if>
            <if test="blogContent != null">
                blog_content = #{blogContent,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where blog_id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.ccl.blog.entity.Blog">
        <!--@mbg.generated-->
        update blog
        set blog_title = #{title,jdbcType=VARCHAR},
        blog_label = #{label,jdbcType=VARCHAR},
        blog_time = #{time,jdbcType=TIMESTAMP},
        blog_userId = #{userId,jdbcType=BIGINT},
        blog_browse = #{browse,jdbcType=BIGINT},
        blog_like = #{like,jdbcType=BIGINT},
        blog_content = #{blogContent,jdbcType=LONGVARCHAR}
        where blog_id = #{id,jdbcType=INTEGER}
    </update>
    <select id="findAllBlog" resultMap="BaseResultMap">
        select * from blog
    </select>
    <select id="count" resultType="int">
    select count(1) from blog;
  </select>
    <select id="findAllBlogByPage" resultMap="BaseResultMap">
        select * from blog limit ${fistPage},${size}
    </select>

    <!--auto generated by MybatisCodeHelper on 2019-09-08-->
    <select id="selectAllByUserId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from blog
        where blog_userId=#{userId,jdbcType=BIGINT}
    </select>
    <select id="findAllBlogByPageUser" resultMap="BaseResultMap">
        select * from blog where blog_userId = ${id} limit ${fistPage},${size}
    </select>
<!--auto generated by MybatisCodeHelper on 2019-09-08-->
    <select id="countByUserId" resultType="java.lang.Integer">
    select count(1)
    from blog
    where blog_userId=#{userId,jdbcType=BIGINT}
  </select>

</mapper>