<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ccl.blog.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.ccl.blog.entity.User">
    <!--@mbg.generated-->
    <id column="user_id" jdbcType="INTEGER" property="id" />
    <result column="user_name" jdbcType="VARCHAR" property="name" />
    <result column="user_account" jdbcType="VARCHAR" property="account" />
    <result column="user_password" jdbcType="VARCHAR" property="password" />
    <result column="user_date" jdbcType="TIMESTAMP" property="date" />
    <result column="user_status" jdbcType="CHAR" property="status" />
    <result column="user_email" jdbcType="VARCHAR" property="email" />
    <result column="user_gender" jdbcType="CHAR" property="gender" />
    <result column="user_birthday" jdbcType="DATE" property="birthday" />
    <result column="user_region" jdbcType="VARCHAR" property="region" />
    <result column="user_intro" jdbcType="LONGVARCHAR" property="intro" />
    <result column="user_vocation" jdbcType="VARCHAR" property="vocation" />
    <result column="user_nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="user_position" jdbcType="VARCHAR" property="position" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    user_id, user_name, user_account, user_password, user_date, user_status, user_email, 
    user_gender, user_birthday, user_region, user_intro, user_vocation, user_nickname, 
    user_position
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from user
    where user_id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from user
    where user_id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="user_id" keyProperty="id" parameterType="com.ccl.blog.entity.User" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into user (user_name, user_account, user_password, 
      user_date, user_status, user_email, 
      user_gender, user_birthday, user_region, 
      user_intro, user_vocation, user_nickname, 
      user_position)
    values (#{name,jdbcType=VARCHAR}, #{account,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{date,jdbcType=TIMESTAMP}, #{status,jdbcType=CHAR}, #{email,jdbcType=VARCHAR}, 
      #{gender,jdbcType=CHAR}, #{birthday,jdbcType=DATE}, #{region,jdbcType=VARCHAR}, 
      #{intro,jdbcType=LONGVARCHAR}, #{vocation,jdbcType=VARCHAR}, #{nickname,jdbcType=VARCHAR}, 
      #{position,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="user_id" keyProperty="id" parameterType="com.ccl.blog.entity.User" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        user_name,
      </if>
      <if test="account != null">
        user_account,
      </if>
      <if test="password != null">
        user_password,
      </if>
      <if test="date != null">
        user_date,
      </if>
      <if test="status != null">
        user_status,
      </if>
      <if test="email != null">
        user_email,
      </if>
      <if test="gender != null">
        user_gender,
      </if>
      <if test="birthday != null">
        user_birthday,
      </if>
      <if test="region != null">
        user_region,
      </if>
      <if test="intro != null">
        user_intro,
      </if>
      <if test="vocation != null">
        user_vocation,
      </if>
      <if test="nickname != null">
        user_nickname,
      </if>
      <if test="position != null">
        user_position,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="account != null">
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="date != null">
        #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=CHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=CHAR},
      </if>
      <if test="birthday != null">
        #{birthday,jdbcType=DATE},
      </if>
      <if test="region != null">
        #{region,jdbcType=VARCHAR},
      </if>
      <if test="intro != null">
        #{intro,jdbcType=LONGVARCHAR},
      </if>
      <if test="vocation != null">
        #{vocation,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="position != null">
        #{position,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ccl.blog.entity.User">
    <!--@mbg.generated-->
    update user
    <set>
      <if test="name != null">
        user_name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="account != null">
        user_account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        user_password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="date != null">
        user_date = #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        user_status = #{status,jdbcType=CHAR},
      </if>
      <if test="email != null">
        user_email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        user_gender = #{gender,jdbcType=CHAR},
      </if>
      <if test="birthday != null">
        user_birthday = #{birthday,jdbcType=DATE},
      </if>
      <if test="region != null">
        user_region = #{region,jdbcType=VARCHAR},
      </if>
      <if test="intro != null">
        user_intro = #{intro,jdbcType=LONGVARCHAR},
      </if>
      <if test="vocation != null">
        user_vocation = #{vocation,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        user_nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="position != null">
        user_position = #{position,jdbcType=VARCHAR},
      </if>
    </set>
    where user_id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ccl.blog.entity.User">
    <!--@mbg.generated-->
    update user
    set user_name = #{name,jdbcType=VARCHAR},
      user_account = #{account,jdbcType=VARCHAR},
      user_password = #{password,jdbcType=VARCHAR},
      user_date = #{date,jdbcType=TIMESTAMP},
      user_status = #{status,jdbcType=CHAR},
      user_email = #{email,jdbcType=VARCHAR},
      user_gender = #{gender,jdbcType=CHAR},
      user_birthday = #{birthday,jdbcType=DATE},
      user_region = #{region,jdbcType=VARCHAR},
      user_intro = #{intro,jdbcType=LONGVARCHAR},
      user_vocation = #{vocation,jdbcType=VARCHAR},
      user_nickname = #{nickname,jdbcType=VARCHAR},
      user_position = #{position,jdbcType=VARCHAR}
    where user_id = #{id,jdbcType=INTEGER}
  </update>

<!--auto generated by MybatisCodeHelper on 2019-09-03-->
  <select id="selectOneByAccount" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user
    where user_account=#{account,jdbcType=VARCHAR}
  </select>

<!--auto generated by MybatisCodeHelper on 2019-09-05-->
  <select id="findAccount" resultType="java.lang.String">
    select user_account
    from user
  </select>
    <select id="findAllUser" resultMap="BaseResultMap">
      select * from user;
    </select>

<!--auto generated by MybatisCodeHelper on 2019-09-16-->
  <select id="findAllByIdInOrderById" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from user
        where user_id in
        <foreach close=")" collection="idCollection" index="index" item="item" open="(" separator=",">
            #{item,jdbcType=INTEGER}
        </foreach>
        order by user_id asc
    </select>


</mapper>