<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ccl.blog.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.ccl.blog.entity.User">
    <!--@mbg.generated-->
    <id column="user_id" jdbcType="INTEGER" property="id" />
    <result column="user_name" jdbcType="VARCHAR" property="name" />
    <result column="user_account" jdbcType="VARCHAR" property="account" />
    <result column="user_password" jdbcType="VARCHAR" property="password" />
    <result column="user_date" jdbcType="TIMESTAMP" property="date" />
    <result column="user_status" jdbcType="CHAR" property="status" />
    <result column="user_email" jdbcType="VARCHAR" property="email" />
    <result column="user_gender" jdbcType="CHAR" property="gender" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    user_id, user_name, user_account, user_password, user_date, user_status, user_email, 
    user_gender
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from user
    where user_id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from user
    where user_id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="user_id" keyProperty="id" parameterType="com.ccl.blog.entity.User" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into user (user_name, user_account, user_password, 
      user_date, user_status, user_email, 
      user_gender)
    values (#{name,jdbcType=VARCHAR}, #{account,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{date,jdbcType=TIMESTAMP}, #{status,jdbcType=CHAR}, #{email,jdbcType=VARCHAR}, 
      #{gender,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" keyColumn="user_id" keyProperty="id" parameterType="com.ccl.blog.entity.User" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        user_name,
      </if>
      <if test="account != null">
        user_account,
      </if>
      <if test="password != null">
        user_password,
      </if>
      <if test="date != null">
        user_date,
      </if>
      <if test="status != null">
        user_status,
      </if>
      <if test="email != null">
        user_email,
      </if>
      <if test="gender != null">
        user_gender,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="account != null">
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="date != null">
        #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=CHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ccl.blog.entity.User">
    <!--@mbg.generated-->
    update user
    <set>
      <if test="name != null">
        user_name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="account != null">
        user_account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        user_password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="date != null">
        user_date = #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        user_status = #{status,jdbcType=CHAR},
      </if>
      <if test="email != null">
        user_email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        user_gender = #{gender,jdbcType=CHAR},
      </if>
    </set>
    where user_id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ccl.blog.entity.User">
    <!--@mbg.generated-->
    update user
    set user_name = #{name,jdbcType=VARCHAR},
      user_account = #{account,jdbcType=VARCHAR},
      user_password = #{password,jdbcType=VARCHAR},
      user_date = #{date,jdbcType=TIMESTAMP},
      user_status = #{status,jdbcType=CHAR},
      user_email = #{email,jdbcType=VARCHAR},
      user_gender = #{gender,jdbcType=CHAR}
    where user_id = #{id,jdbcType=INTEGER}
  </update>

<!--auto generated by MybatisCodeHelper on 2019-09-03-->
  <select id="selectOneByAccount" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from user
    where user_account=#{account,jdbcType=VARCHAR}
  </select>

<!--auto generated by MybatisCodeHelper on 2019-09-05-->
  <select id="findAccount" resultType="java.lang.String">
    select user_account
    from user
  </select>
    <select id="findAllUser" resultMap="BaseResultMap">
      select * from user;
    </select>

</mapper>